@media screen and (min-width: 1000px){
    h1 {
        font-family: 'Cinzel', serif;
        margin: 5rem;
        margin-left: 40px;
        margin-top: 8rem;
        font-size: 4rem;
        color: black;
        text-align: center;
    }

    nav ul {
        display: flex;
        justify-content: space-evenly;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    .grid-container {
        text-align: center;
    }
    
    .grid-food {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        padding: 20px;
    }
    
    .grid-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #grid-food {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        padding: 20px;
    }

    #active {
        background-color: red;
    }


}